<div class="row justify-start">

	<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="formatSelector">

		<mat-button-toggle (click)="changeFormat(formats.table)">

			<mat-icon mat-icon [color]="format == formats.table ? 'accent' : ''">table_chart</mat-icon>

		</mat-button-toggle>

		<mat-button-toggle mat-button (click)="changeFormat(formats.card)">

			<mat-icon mat-icon [color]="format == formats.card ? 'accent' : ''">dashboard</mat-icon>

		</mat-button-toggle>

	</mat-button-toggle-group>

	<mat-form-field class="example-full-width" appearance="standard" color="accent" *ngIf="searchBar">
		<input matInput (keyup)="changeSearchValue($event)" placeholder="Search">
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>

	<span class="spacer"></span>

	<mat-paginator *ngIf="paginator" class="bg-transparent" [length]="data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
		color="accent" aria-label="Select page"></mat-paginator>

	<button mat-button *ngIf="createButton && canCreate">

		<mat-icon mat-icon color="accent" routerLink="/products/create">add</mat-icon>

	</button>

</div>