.spacer {
	flex: 1 1 auto;
}

.space-around {
	justify-content: space-around !important;
}

.correct-font {
	font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

.margin {
	&4 {
		margin: 4px;
	}

	&6 {
		margin: 6px;
	}

	&8 {
		margin: 8px;
	}
}

.space-between {
	justify-content: space-between !important;
}

.text-center {
	text-align: center !important;
}

.justify-start {
	justify-content: start !important;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 16px;
	height: 100%;
	&6 {
		@extend .col;
		width: 50%;
	}

	&12 {
		@extend .col;
		width: 100%;
	}
}

.center-div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-white {
	background-color: #fff;
}