<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test</title>
</head>
<body>

	<mat-sidenav-container fullscreen>

		<mat-sidenav #sidenav class="bg-white">

			<app-sidenav-menu></app-sidenav-menu>

		</mat-sidenav>

		<mat-sidenav-content class="bg-white">

			<app-toolbar></app-toolbar>

			<router-outlet></router-outlet>

			<app-footer></app-footer>

		</mat-sidenav-content>
	
	</mat-sidenav-container>

</body>
</html>